* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Amaranth', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100vh;
}
.imagem{
    background-image: url(/home/conrado/PT2018/Github/dinner-dash-20182-front/imagens/sabri-tuzcu-365440.jpg);
    background-size: cover;
    width: 70%;
    height: 100vh;
}

.inputs{
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 30%;
}

.inputs input{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 0.4em;
    width: 80%;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
}

.inputs label{
    width: 80%;
    margin-left: 3em;
    margin-right: 3em;
    color: darkgray;
}

.botao{
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 0.7em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    width: 80%;
    border: 1px solid;
    cursor: pointer;
}

.botao:hover{
    background-color: darkgreen;
}
.corCinza{
    width: 100%;
}
.corCinza h1{
    color: darkgray;
    width: 80%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.botaoLogin{
    background-color: white;
    border: 1px solid green;
    color: green;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    margin-bottom: 10%;
    cursor: pointer;
}
.estilo{
    width: 100%;
}
.estilo hr{
    margin-left: 3em;
    margin-right: 3em;
    width: 80%;
    margin-top: 2.5em;
    border: 0.5px solid lightgray;
}
.botaoLogin:hover {
    background-color: green;
    color: white;
}

.divTitulo {
    margin-top: 4em;
    width: 70%;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 30px;
    margin-bottom: 2em;
}

@media (min-width: 320px) and (max-width: 700px) {
    .imagem {
        display: none;
    }
    .inputs {
        height: 100%;
        width: 100%;
    }
    .divTitulo {
        width: 100%;
        font-size: 20px;
    }

    .corCinza h1{
        font-size: 20px;
        margin-left: 2.5em;
        margin-right: 2.5em;
    }
}

@media (min-width: 768px) and (max-width: 1030px){
    .divTitulo {
        font-size: 20px;
    }

    .corCinza h1{
        font-size: 20px;
    }
    .inputs {
        width: 100%;    
    }
}
